    <tr>
      <td>1</td>
      <td>
        <input type="text" value="Joe Filpo"
        class="form-control">
      </td>
      <td>
        <input type="text" value="jf@gmail.ng-component"
        class="form-control">
      </td>
      <td>
        <input type="text" value=">+123456789666"
        class="form-control">
      </td>
      <td>
        <input type="text" value="Chicago"
        class="form-control">
      </td>
      <td>
        <input type="text" value="33 avn. 11."
        class="form-control">
      </td>
    </tr>
