        <span [ngSwitch]="colType">
          <span
            *ngSwitchCase="'plain'">
              {{ cellData }}
          </span>
          <select *ngSwitchCase="'select'">
            <option *ngFor="let option of colOptions"
              [value]="option.value">
              {{option.text}}
            </option>
          </select>
          <input
            *ngSwitchDefault
            [type]="colType"
            [(ngModel)]="cellData"
            class="form-control">
          </span>

