<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ cols[0].text }}</th>
      <th>{{ cols[1].text }}</th>
      <th>{{ cols[2].text }}</th>
      <th>{{ cols[3].text }}</th>
      <th>{{ cols[4].text }}</th>
      <th>{{ cols[5].text }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of list">
      <td *ngFor="let col of cols">
        <app-data-cell
        [cellData]="row[col.key]"
        [colType]="col.type"
        [colOptions]="col.options">
      </app-data-cell>
      </td>
      <td>
        <div class="btn-group">
          <button (click)="onUpdate('update')" class="btn btn-info"><i class="fa fa-refresh"></i></button>
          <button (click)="onDelete('delete')" class="btn btn-danger"><i [class]="deleteIconClass"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
