<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ cols[0].text }}</th>
      <th>{{ cols[1].text }}</th>
      <th>{{ cols[2].text }}</th>
      <th>{{ cols[3].text }}</th>
      <th>{{ cols[4].text }}</th>
      <th>{{ cols[5].text }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{ driver.id }} </td>
      <td>
        <app-data-cell [cellData]="driver.name"></app-data-cell>
      </td>
      <td>
        <app-data-cell [cellData]="driver.email"></app-data-cell>
      </td>
      <td>
        <app-data-cell [cellData]="driver.phone"></app-data-cell>
      </td>
      <td>
        <app-data-cell [cellData]="driver.city"></app-data-cell>
      </td>
      <td>
        <app-data-cell [cellData]="driver.address"></app-data-cell>
      </td>
      <td>
        <div class="btn-group">
          <button (click)="onUpdate('update')" class="btn btn-info"><i class="fa fa-refresh"></i></button>
          <button (click)="onDelete('delete')" class="btn btn-danger"><i [class]="deleteIconClass"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
